body{
    background: #D4D4D4;
}

.content{
    margin: 0 auto;
    padding: 10px;
    background: #FFFFFF;
    width: 500px;
    height: 400px;
    border-radius: 3px;
}

.content h1{
    text-align: center;
}